*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(0, 0, 255, .5);
    color: #fff;
}

header{
    background: url('../images/selva.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.contenedor-titulo h1{

    color:white;
    font-size: 48px;
    border: 10px double #fff;
    align-items: center;

}